{% extends 'base.html.twig' %}

{% block title %}Projet Odyssey{% endblock %}

{% block body %}


    <div class="jumbotron jumbotron-fluid elegant-color-dark">
        <div class="container">
            <h1 class="display-4 text-white">Projet Odyssey</h1>
            <p class="lead green-text">Le Projet Odyssey est un projet de création de jeu de rôle.

                Si vous n’êtes pas familier avec le genre, en voici une brève définition :


                “Le jeu de rôle est un jeu de société coopératif. Un joueur particulier, le meneur de jeu, met en scène une aventure dans un cadre imaginaire en s’aidant d’un scénario. Les autres joueurs interprètent les personnages principaux de cette aventure. Le jeu consiste en un dialogue permanent au moyen duquel les joueurs décrivent les actions de leurs personnages. Le meneur de jeu décrit à son tour les effets de ces actions, interprète les personnages secondaires et arbitre la partie en s’appuyant sur des règles.”

                Fédération Française de Jeux de Rôle</p>
        </div>
    </div>
    <div class="container elegant-color-dark">
        <section>
                <p class="text-white">
                    Il est important de noter que tous les membres de l’Orbis Primus et de l’Orbis Secundus doivent, selon le règlement de l’association, adhérer en tant que Membres Créateurs au Collectif Taliesin.
                    (Note: ceux qui auront reconnu la référence à Borges dans les titres de catégories gagnent un cookie virtuel).

                    Nous recrutons, pour le Projet Odyssey, les fonctions suivantes :

                    Cartographe. Travail: Dessiner et découper les cartes du monde en cartes locales (échelle nationale et régionale) lisibles, puis implémenter les informations déterminées par le pôle lore. [Note: nous pouvons vous faire parvenir une copie de Wonderdraft, logiciel que nous utilisons, au besoin]

                    Attaché de recherche. Travail: Afin de bâtir un monde cohérent, nous avons besoin d’informations sur de très nombreux sujets historiques, religieux, culturels, etc. Ce travail prend beaucoup de temps, aussi nous avons besoin de gens habitués de la recherche et capables de rendre des notes synthétiques sur ces nombreux sujets, que nous utiliserons pour travailler.

                    Game Designer. Travail: Participer aux réunions du Pôle Lore (ou à distance) pour aider à façonner l’univers, ses thématiques, ses intrigues. Qu’il s’agisse d’imaginer une culture entière ou la vie d’une communauté paysanne des Balkans, c’est ici que ça se fera.

                    Game Writer. Travail: Rédiger les éléments créés par les Game Designer: profils de personnages, descriptifs, documents in-game… Il y aura notamment des articles de journal et des feuilletons narratifs tel qu’il en paraissait dans la presse au tournant du XXè à écrire sous forme fragmentaire

                    Graphiste. Travail: Créer, en collaboration avec l’Orbis Primus les visuels du projet: logo, cartes de jeu, fiche personnage, bannière site, graphisme du logiciel, etc.

                    Playtesteur. Travail: Tester différents éléments du jeux et faire des retours précis dessus (règles, système de combat, fragments de la campagne, mécaniques narratives, thématiques, etc.)

                    Correcteurs. Travail: Relire et corriger le travail des différents pôles créatifs afin d'assurer une cohérence stylistique et grammaticale.

                    Des Maîtres de jeu pour animer la campagne lorsqu'elle commencera!
                </p>
        </section>
        <section>
                <p class="text-white">
                    Le jeu se déroulera dans un univers empreint de mystère, où beaucoup d’éléments ne sont pas encore clairs pour l’Homme,
                    et où chacun lutte pour en savoir plus que les autres afin d’établir sa supériorité, qu’elle soit scientifique, politique,
                    religieuse ou militaire. Foin de grand héroïsme, de toute-puissance et génocides draconiques: l’emphase sera mise sur l’exploration,
                    l’enquête, la recherche et la découverte d’informations, de secrets et connaissances. Le danger n’est jamais bien loin,
                    et il est fortement déconseillé de l’affronter ouvertement.

                    Afin de mettre en avant cette atmosphère à la fois périlleuse et exaltante de grandes explorations et d’inconnu,
                    nous développons un système de règles dédié, axé sur un narrativisme fort et faisant abstraction des traditionnels dés pour les remplacer par quelque chose d’unique,
                    propre à notre univers de jeu.
                </p>
        </section>
        <section>
            <p  class="text-white">
                Le Projet Odyssey se veut une campagne aux multiples niveaux de jeu et d’interaction.
                Si chaque joueur et maître de jeu sera libre d’explorer les trames et sujet qui attireront son intérêt,
                ils seront aussi confrontés à des évènement globaux, à des trames agissant à des échelles mondiales qui influeront sur leur quotidien -
                personnages, endroits, idéaux, factions… Tout sera affecté par ces événements, qui forceront les joueurs à réagir et à mobiliser les découvertes,
                les relations, etc, qu’ils auront pu développer au cours de leurs histoires particulières.

                Enfin le Projet Odyssey est conçu pour être un jeu adaptatif de longue durée, qu’il sera aisé de rejoindre en cours de partie et qui se développera durant de longues années
                (dans le temps du jeu comme dans le temps réel) afin de permettre un véritable approfondissement des personnages et du lien à l’univers.
                Ainsi le jeu connaîtra un développement continu afin de permettre cette expérience de jeu profonde,
                et de répondre aux différentes actions des joueurs tout en leur proposant des événements globaux.

            </p>
        </section>

    </div>
    <div class="container text-center">
        <h2>Tableau de Jeu</h2>
        <table class="table">
            <thead class="black white-text">
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Statut choisi</th>
                <th>Édition</th>
            </tr>
            </thead>
            <tbody>
            {% for projet in projets %}
                <tr>
                    <th scope="row">{{ projet.id }}</th>
                    <td>{{ projet.statut ? 'Maître de jeu' : 'Joueurs' }}</td>
                <td>
                    <a href="{{ path("projet_edit", {id: projet.id}) }}" class="btn btn-dark">Éditer</a>
                    <form method="post" action="{{ path('projet_delete', {id: projet.id}) }}" style="display: inline-block">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
                        <button class="btn btn-dark">Supprimer</button>
                    </form>
                </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-dark" href="{{ path('projet_new') }}">Choisir un rôle</a>
    </div>


{% endblock %}
